opensource/
ipch/
tmp/
*.pdb
*.ilk
*.log
*.tlog
*obj
*.lastbuildstate
*.sdf
*.user
*.sln
*.ipch
*.exp
*.db
*.config
*.manifest
*.opensdf
*.exe
*.bmp
*.jpg
*.so
*.pyc
*.ftpsyncdir
*.idb

Thumbs.db
*.obj
*.exe
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.sbr
obj/
python/SharedLibs/ftpsyncdir.py
build/typedef/test.xml
build/0_2.bat
build/mss/EmptyDataProvider.py.old
build/mss/targets.ts
build/server.pvk
build/mss/eily.acuario.build._
python/eaintegration/webserver/log.txt
build/0_2_2.bat
build/mss/stations.cfg
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
build/ai.bat
*.db*
*.journal
stack.txt
lua11dump.txt
*.dll
*.lib

Debug/
Release/
